:root {
	--red: #FF4242;
	--green: #42FF42;
	--blue: #4242FF;
	--white-08: rgba(255, 255, 255, 0.8);
	--black-08: rgba(0, 0, 0, 0.8);

	--selection: rgba(100, 200, 255, 0.6);
}

::selection {
	background-color: var(--selection);
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	display: flex;
}

body {
	color: inherit;
	font-size: 2rem;
	font-family: -apple-system, Helvetica, sans-serif;

	padding: 0;
	margin: 0;
}

input {
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	width: 6ch;
}

/* Box */

.box {
	display: flex;
	position: relative;
}

.-static-space {
	/*position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
*/

	min-height: 100%;
	min-width: 100%;
	flex-direction: column;
	justify-content: space-between;
}

.-centered {
	margin: auto;
}

.-top {
	margin-top: 0;
	padding-top: 2rem;
}

.-bottom {
	margin-bottom: 0;
	padding-bottom: 2rem;
}

/* Box Styling */

.plr-05 {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.pb-02 {
	padding-bottom: 0.2rem;
}

.bottom-border {
	border-bottom: 0.2rem solid;
	padding-bottom: 0;
}

.border-none {
	border: none;
}

.outline-none {
	outline: none;
}


/* Flex Defs */

.stack-vertical {
	flex-direction: column;
}


/* Font Styling */

.text-mono {
	font-family: Courier, monospace;
}

.text-uppercase {
	text-transform: uppercase;
}


/* Dark and Light Mode */

.dark {
	color: var(--black-08);
	border-color: var(--black-08);
}

.light {
	color: var(--white-08);
	border-color: var(--white-08);
}

.-dark {
	color: var(--black-08);
	border-color: var(--black-08);
}

.-light {
	color: var(--white-08);
	border-color: var(--white-08);
}

/* Backgrounds */

.bg-none {
	background: none;
}

.bg-transparent {
	background-color: transparent;
}

.bg-red {
	background-color: var(--red);
}

.bg-green {
	background-color: var(--green);
}

.bg-blue {
	background-color: var(--blue);
}